{{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
{{ 'jquery.products.js' | asset_url | script_tag }}

<div id="recently-viewed-products" class="collection clearfix" style="display:none">
  <h2>Recently Viewed Products</h2>
</div>

{% raw %}
<script id="recently-viewed-product-template"  type="text/x-jquery-tmpl">
<div id="product-${handle}" class="product small--one-half medium-up--one-quarter">
  <div class="image">
    <a href="${url}">
      <img src="${Shopify.Products.resizeImage(featured_image, "medium")}" />
    </a>
  </div>
  <div class="details">
    <a href="${url}">
      <span class="title">${title}</span>
      <span class="price">{{if price_varies}}From {{/if}}${Shopify.formatMoney(price)}</span>
    </a>
  </div>
</div>
</script>
{% endraw %}

<script>
Shopify.Products.showRecentlyViewed( { howManyToShow:4 } );
</script>

<style>
/* Some styles to get you started */
.collection {
clear: both;
}
.collection .product {
float: left;
text-align: left;
padding: 0 20px;
position: relative; /* used to display absolutely positioned sale tag */
overflow: hidden;
}
#shopify-section-recently-viewed .collection .product:nth-of-type(4n+1){
  padding-left: 0;
}
#shopify-section-recently-viewed .collection .product:nth-of-type(4n){
  padding-right: 0;
}
.collection .product.last {
margin-right: 0;
}
.collection .product .image {
margin-bottom: 16px;
height: 200px;
overflow: hidden;
}
.collection .product .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.collection .product .cy {
    display: block;
    margin: 0 auto;
}
.collection .product .title {
    display: block;
    font-size: 16px;
    line-height: 22px;
    color: #3B3A40;
    font-weight: 400;
    margin-bottom: 16px;
}
.collection .product .price {
    display: block;
    font-size: 16px;
    line-height: 22px;
    color: #3B3A40;
    font-weight: 400;
}
/* new clearfix */
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
</style>