<div class="banner-container" style="background-image: url('{{ section.settings.banner_image | img_url:'master' }}')">
  <div class="banner-content-wrapper">
    <div class="container page-width">
      <div class="banner-content">
        <h1>{{ section.settings.title }}</h1>
       	<p>{{ section.settings.description }}</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Banner Image"
      },
	  {
         "type": "text",
         "id": "title",
         "label": "Title",
         "default": "Title"
      },
      {
         "type": "textarea",
         "id": "description",
         "label": "Description"
      }
	]
  }
{% endschema %}