<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
{% section 'default-banner' %}

<div class="page-width page-sidebar">

  <div class="page-sidebar-main">
    <div class="page_content rte">
      {{ page.content }}  
    </div>

    {% section 'page-sidebar-guideline' %}

    {% section 'page-sidebar-questions' %}   
    
  </div>

  {% include 'page-sidebar-section' %}
  
</div>
