<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
{% section 'banner-about' %}

<div class="page-width page-sidebar page-about">

  <div class="page-sidebar-main">
    <div class="page_content rte">
      {{ page.content }}  
    </div>   
  </div>

  <div class="page-sidebar-section">
    <div class="sidebar-map">
      <img src="https://cdn.shopify.com/s/files/1/0539/1908/8815/files/Rectangle_252_2.png?v=1617137189">
    </div>
    <div class="sidebar-section-block direction-block">
          <img src="https://cdn.shopify.com/s/files/1/0539/1908/8815/files/Vector_1_d3f879a4-5605-4660-a763-34bdcee17d7d.png?v=1617136494">
        <div class="direction_content">
          <h3>Directions • Map</h3>
          <p>18830 Hwy 85, Gay, GA 30218</p>
        </div>
        <a>Directions</a>
    </div>
    <div class="sidebar-section-block tickets-block">
          <img src="https://cdn.shopify.com/s/files/1/0539/1908/8815/files/Vector_2.png?v=1617136494">
          <h3>Tickets</h3>
          <div class="tickets">
            <div class="ticket">
              <p class="ticket_number">Adult(13-64)</p>
              <p class="ticket_price">$10</p>              
            </div>
            <div class="ticket">
              <p class="ticket_number">Senior(65+)</p>
              <p class="ticket_price">$9</p>              
            </div>
            <div class="ticket">
              <p class="ticket_number">Active Duty Military</p>
              <p class="ticket_price">$9</p>              
            </div>   
            <div class="ticket">
              <p class="ticket_number">Children (7 – 12)</p>
              <p class="ticket_price">$5</p>              
            </div>  
            <div class="ticket">
              <p class="ticket_number">Children (under 7)</p>
              <p class="ticket_price">Free</p>              
            </div>         
          </div>
          <span>No pets, please, for the safety and comfort of all our guests.</span>
    </div>
    <div class="sidebar-section-block parking-block">
          <img src="https://cdn.shopify.com/s/files/1/0539/1908/8815/files/Vector_4_461b80de-4911-4a67-bdef-cd953007ca56.png?v=1617136494">
          <h3>Parking</h3>
          <p>Parking is free and on a first come, first parked basis.</p>
    </div>  
    <div class="sidebar-section-block join-block">
          <img src="https://cdn.shopify.com/s/files/1/0539/1908/8815/files/Vector_3.png?v=1617136494">
          <h3>Join us in 2021</h3>
          <p>May 1-2 & Oct 2-3, 2021</p>
    </div>  
    <div class="sidebar-section-block hashtag-block">
          <img src="https://cdn.shopify.com/s/files/1/0539/1908/8815/files/Vector_4.png?v=1617136494">
          <h3>Hashtag #cottonpickinfair</h3>
          <a>Tag your Instagram Memories with #cottonpickinfair</p>
    </div> 
    <div class="sidebar-section-block social-block">
          <a class="social_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a class="social_instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div> 
  </div>
  
</div>
