{% section 'banner-store' %}

<div class="page-store">

{% section 'feature-row-page-store' %}

{% section 'featured-blog-store' %}

{% section 'slideshow-our-comunity' %}

{% section 'recently-viewed' %}

 
</div>