{% section 'banner-about' %}

<div class="page-width page-sidebar page-about">

  <div class="page-sidebar-main">
    <div class="page_content rte">
      {{ page.content }}  
    </div>
    
  </div>

  {% include 'page-sidebar-section' %}
  
</div>


